*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 0;
}

::selection{
    color: black;
    background: rgb(255, 205, 30);
}

a, a:link, a:visited, a:active{
    text-decoration: none;
    color: rgb(255, 205, 30);
}

.container{
    min-height: 125vh;
    width: 100%;
    font-family: sans-serif;
}

.header{
    position: relative;
    width: 100%;
    height: 20vh;
    color: rgb(255, 205, 30);
    font-weight: 800;
    font-size: 20px;
}

.header-menu{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 20vh;
}

.header-menu img{
    height: 15vh;
}

ul.menu{
    height: 20vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}

li:hover{
    opacity: 0.7;
}

.footer{
    width: 100%;
    height: 25vh;
    background-color: rgb(0, 0, 0);
    bottom: -25vh;
    position: absolute;
    color: rgb(255, 205, 30);
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    font-size: large;
    text-align: center;
    font-weight: 600;
}

.background{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    text-align: center;
    display: flex;
    justify-content: center;
}

.background-video{
    position: absolute;
    left: 0;
    top: 0;
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.video-cover{
    position: absolute;
    left: 0;
    top: 0;
    background-color: black;
    width: 100%;
    height: 100%;
    opacity: 0.7;
}

.logo-container{
    height: 25vh;
    width: 35vh;
}

.logo{
    width: 20vh;
    height: auto;
    margin-top: 2vh;
}

.logo-container p{
    margin-bottom: 2vh;
}

.img-links img{
    width: 5vh;
}

ul.img-links{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    margin: 5px;
}

.footer-links{
    width: 20vh;
    margin: 5vh;
}

.footer-links p{
    margin-bottom: 2vh;
}

.copy{
    position: absolute;
    width: 50vh;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    margin-bottom: 5px;
}

.payment-methods{
    width: 20vh;
    margin-right: 5vh;
}

.payment-methods img{
    height: 10vh;
}

.payment-methods p{
    margin-bottom: 2vh;
}

.footer-right{
    display: flex;
    align-items: center;
}

.footer-menu{
    position: absolute;
    width: 70vh;
    left: 50%;
    transform: translateX(-50%);
}

ul.footer-menu-list{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
}

.content{
    position: absolute;
    left: 50%;
    top: 30vh;
    width: 80%;
    min-height: 50%;
    transform: translateX(-50%);
    color: rgb(255, 205, 30);
    text-align: center;
    font-weight: bold;
    overflow: hidden;
}

#goods{
    display: flex;
    justify-content: space-around;
}

.single-goods{
    position: relative;
    height: 50%;
    width: 100%;
}

.single-goods img{
    height: 40vh;
    cursor: pointer;
}

.price{
    margin-top: 10px;
    font-size: medium;
}

#mini-cart{
    float: right;
    margin-right: 5vw;
    height: 20vh;
    width: 20vh;
    display: flex;
    align-items: center;
}

#mini-cart img{
    height: 7vh;
}

a.mini-cart :hover{
    opacity: 0.7;
    cursor: pointer;
}

a.mini-cart :link{
    text-decoration: none;
}

a.mini-cart :visited{
    text-decoration: none;
}

.in-cart{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-size: 20px;
    border-radius: 100px;
    background: black;
    padding: 15px;
    padding-bottom: 13px;
    cursor: pointer;
}

.single-goods:not(:hover) .in-cart{
    opacity: 0;
}
